.App {
  text-align: center;
  display: grid;
  place-content: center;
}

h1 {
  margin: 5px;
  font-weight: 800px;
}

.container {
  width: 1000px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  box-shadow: 4px 4px 4px rgba(94, 94, 94, 0.1);
  margin: 20px;
  display: grid;
  justify-items: center;
}

#flexbox {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

#submit {
  width: 200px;
  margin-top: 35px;
  background-color: #FA5246;
}

#btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.btn-sort {
  background-color: #bae8e8;
  color: black;
}

#total {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  padding: 10px;
  background-color: rgb(203, 203, 203);
  border-radius: 10px;
}
